<div class="row">
  <div class="col-md-12">
    <div class="jumbotron text-center">
      <h2>Dodaj raport dzienny</h2>
    </div>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-md-12">
    <div class="panel">
      <div class="panel-heading">
        <h4>Wprowadź dane</h4>
      </div>
      <div class="panel-body">
        <form name="datepickerForm" class="form-inline" role="form">
          <h3>Data i przepracowane godziny</h3>
          <br>
          <div class="input-group" ng-class="{'has-error': datepickerForm.date.$invalid}">
            <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i> Data</span>
            <input type="text" size="20" class="form-control" ng-model="date.selected" name="date" bs-datepicker>
          </div>
          <div class="input-group" ng-class="{'has-error': datepickerForm.timeFrom.$invalid}">
            <span class="input-group-addon"><i class="glyphicon glyphicon-time"></i> Od</span>
            <input type="text" size="5" class="form-control" ng-model="time.from" name="timeFrom" bs-timepicker>
          </div>
          <div class="input-group" ng-class="{'has-error': datepickerForm.timeFrom.$invalid}">
            <span class="input-group-addon"><i class="glyphicon glyphicon-time"></i> Do</span>
            <input type="text" size="5" class="form-control" ng-model="time.to" name="timeTo" bs-timepicker>
          </div>
          <hr>
          <h3>Lista wykonanych czynności</h3>
          <br>
          <ul class="list-group">
            <li class="list-group-item" ng-repeat="job in joblist">
              <div class="row">
                <div class="col-md-10">{{job}}</div>
                <div class="col-md-2">
                  <span class="badge button-danger pull-right" ng-click="removeJob($index)">
                    <i class="glyphicon glyphicon-remove"></i> Edytuj
                  </span>
                  <span class="badge button-success pull-right" ng-click="removeJob($index)">
                    <i class="glyphicon glyphicon-edit"></i> Usuń
                  </span>
                </div>
              </div>
            </li>
            <div class="input-group" style="width: 100%">
              <span style="width: 5%" class="btn input-group-addon" ng-disabled="!job.new" ng-class="{'button-success': !!job.new}" ng-click="addJob(job.new)"><i class="glyphicon glyphicon-plus"></i> Dodaj</span>
              <textarea msd-elastic="\n" class="form-control animated-textarea" placeholder="Dodaj nową czynność" ng-model="job.new" style="resize: vertical"/>
            </div>
          </ul>
        </form>
      </div>
    </div>
  </div>
</div>
